<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  {% load static %}
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' type='text/css'>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Logo</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'home' %}">Main</a>
    <a class="p-2 text-dark" href="{% url 'create' %}">Create Task</a>
    <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
    <a class="p-2 text-dark" href="/news">News</a>
    <a class="p-2 text-dark" href="/mainapp/contact">Contacts</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
    <div class='jumbotron'>
        <div class='container'>
            <h1>{% include 'mainApp/includes/some_html.html' %}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class='container'>
    <img src='{% static "mainApp/image/f069073f396a99d82e9958dd70ac1939.jpeg" %}' class='img-thumbnail'>
        <hr>
            Все права защищены

        <p>
            <a href='/' class='btn btn-success btn-lg'>Главная страница</a>
            <a href='/news' class='btn btn-primary btn-lg'>Новости</a>
            <a href='/contact' class='btn btn-info btn-lg'>Контакты</a>
        </p>
    </div>    
</body>
</html>